@model IEnumerable<ITStepTest.Models.QuestionInformationModel>

@{
    ViewBag.Title = "Тест";
}

@Html.Partial("_Menu")

<section class="main-section-content">
    <div class="row ">
        <div class="content">
            <div class="col-md-12">
                <br /><br />
                <h3>
                    <b>@ViewBag.Test.Name</b>
                </h3>
                <hr />
                <div>                    
                    <br /><br />
                </div>
                <div>
                    <div>
                        <button type="button" class="btn-round btn-global btn-fix-style" data-toggle="modal" data-target="#createQuestion">
                            +
                        </button>
                    </div>
                    <ul class="none-list-marker question-items-list">
                        @foreach (var item in Model)
                        {
                            <li>
                                <div class="question-item-title">
                                    <div class="question-title">
                                        @item.Text
                                    </div>                                    
                                    <div class="question-item-management-button menu-block-item-list">
                                        <div class="dropdown">
                                            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                            </button>
                                            <ul class="dropdown-menu icon-menu" aria-labelledby="dLabel">
                                                <li>
                                                    <span class="glyphicon glyphicon glyphicon-plus graphicon-create" aria-hidden="true"></span>
                                                    <a href="/Question/Edit/@item.Id">Добавить вариант ответа</a>
                                                </li>
                                                <li>
                                                    <span class="glyphicon glyphicon-info-sign info-element" aria-hidden="true"></span>
                                                    <a href="/Question/Edit/@item.Id">Редактировать вопрос</a>
                                                       </li>
                                                <li>
                                                    <span class="glyphicon glyphicon-remove remove-element" aria-hidden="true"></span>
                                                    <a href="/Question/Delete/@item.Id">Удалить вопрос</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>                                  
                                </div>
                                
                                
                                <ul class="variants-items-list">
                                @foreach (var variant in item.Variants)
                                {
                                    <li>@variant.Text - @variant.True</li>
                                }                                    
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>    
    <div id="scrollup">
        <img alt="Прокрутить вверх" src="/Images/to_top.png">
    </div>
</section>

<div class="modal fade" id="createQuestion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавить вопрос</h4>
            </div>
            <form id="createQuestionForm">
                <div class="modal-body">
                    <div class="form-group hide">
                        <label for="Text">Test</label>
                        <input type="text" class="form-control" id="Test" name="test" value="@ViewBag.Test.Id">
                    </div>
                    <div class="form-group">
                        <label for="Text">Текст</label>
                        <input type="text" class="form-control" id="Text" name="text" placeholder="Текст">
                    </div>
                </div>
            </form>            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="createQuestionBtn">Сохранить</button>
            </div>
        </div>
    </div>
</div>