@model IEnumerable<ITStepTest.Models.QuestionInformationModel>

@{
    ViewBag.Title = "Тест";
}

@Html.Partial("_Menu")

<section class="main-section-content">
    <div class="row ">
        <div class="content">
            <div class="col-md-12">
                <br /><br />
                <h3>
                    <b>@ViewBag.Test.Name</b>
                </h3>
                <hr />
                <div>                    
                    <br /><br />
                </div>
                <div>
                    <div>
                        <button type="button" class="btn-round btn-global btn-fix-style" data-toggle="modal" data-target="#createQuestion">
                            +
                        </button>
                    </div>
                    <ul class="none-list-marker question-items-list">
                        @foreach (var item in Model)
                        {
                            <li>
                                <div class="question-item-title">
                                    <div class="question-title">
                                        @item.Text
                                    </div>                                    
                                    <div class="question-item-management-button menu-block-item-list">
                                        <div class="dropdown">
                                            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                            </button>
                                            <ul class="dropdown-menu icon-menu" aria-labelledby="dLabel">
                                                <li>
                                                    <span class="glyphicon glyphicon glyphicon-plus graphicon-create" aria-hidden="true"></span>
                                                    <a href="#" data-id="@item.Id" data-test="@item.Test" class="addVariantBtn" data-toggle="modal" data-target="#createVariant">Добавить вариант ответа</a>
                                                </li>
                                                <li>
                                                    <span class="glyphicon glyphicon-pencil edit-element" aria-hidden="true"></span>
                                                    <a href="/Question/Edit/@item.Id">Редактировать вопрос</a>
                                                       </li>
                                                <li>
                                                    <span class="glyphicon glyphicon-remove remove-element" aria-hidden="true"></span>
                                                    <a href="/Question/Delete/@item.Id">Удалить вопрос</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>                                  
                                </div>                                
                                
                                <ul class="variants-items-list">
                                @foreach (var variant in item.Variants)
                                {
                                    if (variant.True) {
                                        <li class="variant-true">
                                            <div class="variant-item-text">@variant.Text</div>
                                            <ul class="variant-item-management-btn">
                                                <li>
                                                    <a href="#" data-id="@variant.Id" data-link="/Question/List/@item.Test" class="editVariantBtn" data-toggle="modal" data-target="#editVariant">
                                                        <span class="glyphicon glyphicon-pencil edit-element" aria-hidden="true"></span>
                                                    </a>  
                                                   
                                                </li>
                                                <li>
                                                    <a href="#" data-id="@variant.Id" data-link="/Question/List/@item.Test" class="deleteVariantBtn" data-toggle="modal" data-target="#deleteVariant">
                                                        <span class="glyphicon glyphicon-remove remove-element" aria-hidden="true"></span>
                                                    </a>                                                
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                    else 
                                    { 
                                        <li>
                                            <div class="variant-item-text">@variant.Text</div>
                                            <ul class="variant-item-management-btn">
                                                <li>
                                                    <a href="#" data-id="@variant.Id" data-link="/Question/List/@item.Test" class="editVariantBtn" data-toggle="modal" data-target="#editVariant">
                                                        <span class="glyphicon glyphicon-pencil edit-element" aria-hidden="true"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-id="@variant.Id" data-link="/Question/List/@item.Test" class="deleteVariantBtn" data-toggle="modal" data-target="#deleteVariant">
                                                        <span class="glyphicon glyphicon-remove remove-element" aria-hidden="true"></span>
                                                    </a>                                                
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                    
                                }                                    
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>    
    <div id="scrollup">
        <img alt="Прокрутить вверх" src="/Images/to_top.png">
    </div>
</section>

<div class="modal fade" id="createQuestion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавить вопрос</h4>
            </div>
            <form id="createQuestionForm">
                <div class="modal-body">
                    <div class="form-group hide">
                        <label for="Text">Test</label>
                        <input type="text" class="form-control" id="Test" name="test" value="@ViewBag.Test.Id">
                    </div>
                    <div class="form-group">
                        <label for="Text">Текст</label>
                        <input type="text" class="form-control" id="Text" name="text" placeholder="Текст">
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="createQuestionBtn">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div id="#createModalVariantDialog">
    <div class="modal fade" id="createVariant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Добавить вариант ответа</h4>
                </div>
                <form id="createVariantForm">
                    
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" id="requestVariantBtn">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteVariant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Удалить вариант ответа</h4>
            </div>
            <form id="deleteVariantForm"></form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="requestVariantDeleteBtn">Удалить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editVariant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Редактировать вариант ответа</h4>
            </div>
            <form id="editVariantForm"></form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="requestVariantEditBtn">Сохранить</button>
            </div>
        </div>
    </div>
</div>