@model ITStepTest.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account"))
{  

    <fieldset>
        <legend>Форма изменения пароля</legend>
        <div class="error">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
        </div>
        <ol class="none-list-marker">
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </li>
        </ol>
        <input type="submit" class="btn btn-default" value="Смена пароля" />
    </fieldset>
}
