@model ITStepTest.Models.Comment

@{
    ViewBag.Title = "Комментарии";

    List<SelectListItem> tests = new List<SelectListItem>();
    int i = 0;
    foreach (var test in ViewBag.Tests)
    {

            if (i < 1)
            {
                tests.Add(new SelectListItem
                {
                    Text = test.Name,
                    Value = test.Id.ToString(),
                    Selected = true
                });
            }
            else
            {
                tests.Add(new SelectListItem
                {
                    Text = test.Name,
                    Value = test.Id.ToString()
                });
            }

            i++;
        }
    
}

@Html.Partial("_Menu")

<section class="main-section-content">
    <div class="row ">
        <div class="content">
            <div class="col-md-12">
                <br /><br />
                <h3>
                    <b>Добавить комментарий</b>
                </h3>
                <hr />

                @using (Html.BeginForm())
                {
                    <div class="error">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                    </div>

                    <fieldset>

                        <div class="editor-label hide">
                            @Html.LabelFor(model => model.User)
                        </div>
                        <div class="editor-field hide">
                            @Html.TextBoxFor(model => model.User, new { @class = "form-control", @Value = ViewBag.User.Id })
                            @Html.ValidationMessageFor(model => model.User)
                        </div>
                        <div class="editor-label hide">
                            @Html.LabelFor(model => model.Date, "Дата")
                        </div>
                        <div class="editor-field hide">
                            @Html.TextBoxFor(model => model.Date, new { @class = "form-control", @Value = DateTime.Now })
                            @Html.ValidationMessageFor(model => model.Date)
                        </div>  
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Test, "Тест")
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(m => m.Test, tests, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Test)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Text, "Комментарий")
                        </div>
                        <div class="editor-field">
                            @Html.TextArea("Text", new { @class = "form-control", rows = 10 })
                            @Html.ValidationMessageFor(model => model.Text)
                        </div>  
                        <p>
                            <input type="submit" class="btn btn-default" value="Отправить" />
                        </p>
                    </fieldset>
                }
                <br />
                <div>
                    @Html.ActionLink("Вернуться к списку", "Index")
                </div>
            </div>
        </div>
    </div>
    <div id="scrollup">
        <img alt="Прокрутить вверх" src="/Images/to_top.png">
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
