@model IEnumerable<ITStepTest.Models.User>

@{
    ViewBag.Title = "Пользователи";
}

@Html.Partial("_MainMenu")

<section class="main-section-content">
    <div class="row ">
        <div class="content">
            <div class="col-md-12">
                <br /><br />
                <h3>
                    <b>Пользователи</b>
                </h3>
                <hr />
                <div>
                    <input type="text" name="search" placeholder="Поиск..." id="search-element" class="form-control" />
                    <br /><br />
                </div>
                <div>
                    <div>
                        @Html.ActionLink("+", "Create", new { }, new { @class = "btn-round btn-global" })
                    </div>
                    <ul class="none-list-marker base-items-list">
                        @foreach (var item in Model)
                        {
                            <li>
                                <div class="show-marker"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></div>
                                <div class="main-content-item-list">
                                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                </div>
                                <div class="menu-block-item-list">
                                    <div class="dropdown">
                                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                        </button>
                                        <ul class="dropdown-menu icon-menu" aria-labelledby="dLabel">
                                            <li>
                                                <span class="glyphicon glyphicon-pencil  edit-element" aria-hidden="true"></span>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                            </li>
                                                <li>
                                                    <span class="glyphicon glyphicon-info-sign info-element" aria-hidden="true"></span>
                                                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                                                </li>
                                            <li>
                                                <span class="glyphicon glyphicon-remove remove-element" aria-hidden="true"></span>
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </div>
    </div>    
    <div id="scrollup">
        <img alt="Прокрутить вверх" src="/Images/to_top.png">
    </div>
</section>