@model ITStepTest.Models.TestInformationModel

@{
    ViewBag.Title = "Тесты";
}

@Html.Partial("_Menu")

<section class="main-section-content">
    <div class="row ">
        <div class="content">
            <div class="col-md-12">
                <br /><br />
                <h3>
                    <b>Создать тест по дисциплине @ViewBag.Subject.Name</b>
                </h3>
                <hr />

                @using (Html.BeginForm())
                {
                    <div class="error">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                    </div>


                    <fieldset>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, "Название")
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <div class="form-group hide">
                            @Html.LabelFor(m => m.Subject, "Дисциплина")
                            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @Value = ViewBag.Subject.Id})
                            @Html.ValidationMessageFor(model => model.Subject)
                        </div>
                        <div class="form-group hide">
                            @Html.LabelFor(m => m.Page, "Страница")
                            @Html.TextBoxFor(m => m.Page, new { @class = "form-control", @Value = ViewBag.Page })
                        </div>
                        <p>
                            <input type="submit" class="btn btn-default" value="Создать" />
                        </p>
                    </fieldset>
                }
                <br />
                <div>
                    @if (ViewBag.Page == "Tests")
                    {
                        @Html.ActionLink("Вернуться к списку", "Tests")
                    }
                    else
                    { 
                        @Html.ActionLink("Вернуться к списку", "Index")
                    }
                    
                </div>
            </div>
        </div>
    </div>
    <div id="scrollup">
        <img alt="Прокрутить вверх" src="/Images/to_top.png">
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}