@model IEnumerable<ITStepTest.Models.Test>

@{
    ViewBag.Title = "Тесты";
}

@Html.Partial("_Menu")

<section class="main-section-content">
    <div class="row ">
        <div class="content">
            <div class="col-md-12">
                <br /><br />
                <div class="page-with-list-header">
                    <h3>
                        <b>@ViewBag.Subject.Name</b>
                    </h3>
                    <ul class="list-header-menu">
                        <li>
                            <a href="/Subject/"><span class="glyphicon glyphicon-book  edit-element" aria-hidden="true"></span></a>
                        </li>
                        <li>
                            <a href="/Test/"><span class="glyphicon glyphicon-align-justify info-element" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </div>               
                <hr />
                <div>
                    <input type="text" name="search" placeholder="Поиск..." id="search-element" class="form-control" />
                    <br /><br />
                </div>
                <div>
                    <div>
                        @Html.ActionLink("+", "Create", new { id = ViewBag.Subject.Id, page = "Tests" }, new { @class = "btn-round btn-global" })
                    </div>
                    <ul class="none-list-marker base-items-list">
                        @foreach (var item in Model)
                        {
                            <li>
                                <div class="show-marker"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></div>
                                <div class="main-content-item-list">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </div>
                                <div class="menu-block-item-list">
                                    <div class="dropdown">
                                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                        </button>
                                        <ul class="dropdown-menu icon-menu" aria-labelledby="dLabel">
                                            <li>
                                                <span class="glyphicon glyphicon-pencil  edit-element" aria-hidden="true"></span>
                                                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id, page = "Tests" })
                                            </li>
                                            <li>
                                                <span class="glyphicon glyphicon-remove remove-element" aria-hidden="true"></span>
                                                @Html.ActionLink("Удалить", "Delete", new { id = item.Id, page = "Tests" })
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="scrollup">
        <img alt="Прокрутить вверх" src="/Images/to_top.png">
    </div>
</section>